<!-- views/partials/navbar.ejs -->
<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/">Início</a></li>
        <li><a href="/usuarios">Usuários</a></li>
        <li><a href="/sobre">Sobre</a></li>
    </ul>
</nav>
